<h1> <%= @dish.name %> Show Page</h1>
<b>Description:</b> <%= @dish.description %><br>
<div id="ingredients">
  <b>Dish Ingredients:</b><br>
  <% @dish.ingredients.each do |ingredient| %><br>
    <%= ingredient.name %>
  <% end %>
</div>